    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>User Login Form</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">    
    </head>
    <body>
        <div class="container d-flex flex-column align-items-center">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/expense-manager-22.png') }}" alt="Your Logo" class="logo">
            </a>
            <div class="login-container">
        
            <h2>Login</h2>
            <form action="{{ url_for('login') }}" method="post">
                {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}
                <div class="form-group">
                    <label for="email">Email ID:</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                </div>    
                <button type="submit" class="btn btn-primary">Login</button>
                <p class="bottom">Don't have an account? <a class="bottom" href="{{ url_for('register') }}">Register here</a></p>
            </form>
        </div>
    </div>
    </body>
    </html>
